#gif-form {
	float: right;
}
.gif {
	float: left;
    background-color: #00FFFF;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*.gif:hover {
	border: 1px solid black;
}*/
img {
	float: left;
	margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    height: 200px;
}
p {
	float: left;
}
