#gif-form {
	float: right;
}
.gif {
	float: left;
    background-color: #00FFFF;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#gifs-appear-here {

}
